@font-face {
  font-family: 'icons';
  src: url('../assets/fonts/icons.eot?10523127');
  src: url('../assets/fonts/icons.eot?10523127#iefix') format('embedded-opentype'),
       url('../assets/fonts/icons.woff?10523127') format('woff'),
       url('../assets/fonts/icons.ttf?10523127') format('truetype'),
       url('../assets/fonts/icons.svg?10523127#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}